---
import Sun from './icons/sun.svg.astro'
import Moon from './icons/moon.svg.astro'

const navbarLinks = [
	{
		label: 'home',
		url: '/'
	},
	{
		label: 'resume',
		url: '/resume'
	}
]
---

<nav
	class="fixed left-0 right-0 top-0 z-50 mb-6 border-b border-b-hd-grey/70 bg-hd-white/50 px-8 py-4 shadow backdrop-blur-sm lg:px-20 dark:bg-hd-black/50"
>
	<div class="mx-auto flex w-full max-w-screen-lg flex-row items-center justify-between">
		<span class="text-2xl font-bold">HD</span>
		<div class="flex flex-row items-center justify-between gap-16">
			{
				import.meta.env.DEV && (
					<div class="flex h-min flex-row items-center border border-gray-600">
						<div class="h-6 w-4 bg-hd-black" />
						<div class="h-6 w-4 bg-hd-grey" />
						<div class="h-6 w-4 bg-hd-white" />
						<div class="h-6 w-4 bg-hd-light-blue" />
						<div class="h-6 w-4 bg-hd-blue" />
					</div>
				)
			}
			<ul class="flex flex-row items-center gap-8 text-gray-900 dark:text-gray-100">
				{
					navbarLinks.map(({ label, url }) => (
						<li class="font-semibold capitalize">
							<a href={url}>{label}</a>
						</li>
					))
				}
			</ul>
			<button
				id="dark-mode-toggle"
				class="rounded-md border border-gray-300 p-1.5 dark:border-gray-700"
				aria-label="Toggle dark mode"
			>
				<span class="block dark:hidden"><Sun /></span>
				<span class="hidden dark:block"><Moon /></span>
			</button>
		</div>
	</div>
</nav>

<script is:inline>
	const DARK_THEME = 'dark'
	const LIGHT_THEME = 'light'

	function setTheme(theme) {
		localStorage.setItem('theme', theme)
		document.documentElement.classList.toggle(DARK_THEME, theme === DARK_THEME)
	}

	function currentTheme() {
		return (
			localStorage.getItem('theme') ??
			(window.matchMedia(`(prefers-color-scheme: ${DARK_THEME})`).matches
				? DARK_THEME
				: LIGHT_THEME)
		)
	}

	setTheme(currentTheme())

	document.querySelector('#dark-mode-toggle').addEventListener('click', () => {
		const newTheme = currentTheme() === DARK_THEME ? LIGHT_THEME : DARK_THEME
		setTheme(newTheme)
	})
</script>
